
.modal-deposit {
    display: flex;
     flex-direction: column;
   
    height: 50vh;
    
    

    padding: 0% 2%;
  

    
    .card-detail-section {
        
        border-radius: 8px;
        padding: 2%;
        display: flex;
        
        justify-content: space-between;
        height: auto;
        width: 100%;
    
        
       
        .form-buy-card {
         
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 1rem;
            

            

            .group-input {
                display: flex;
                flex-direction: column;
                padding: 2% 0;
               

                .num-input{
                    display: flex;
                    align-items: center;
                }

            }

            input,
            select ,.num-input{
                width: 100%;
                height: 5vh;
                border: rgba(80, 76, 76, 0.199) solid 1px;
                background-color: $Tertiary-color;
                border-radius: 12px;
                padding: 2%;
            }
            input{
                all:unset;
                border: none;
            }

            label {
                padding-bottom: 4%;
                font-size: 16px;
                font-weight: 600;
                color: $Primary-color;
            }

            .btn {
                background-color: $Primary-color;
                display: flex;
                font-size: 14px;
                font-weight: 600;
                border-radius: 12px;
                
               
            }

            button {
                display: flex;
                all: unset;
                cursor: pointer;

                width: 100%;
                border-radius: 8px;
                height: 5vh;
                text-align: center;
                color: $Tertiary-color;
                justify-content: center;
                align-items: center;

                
            }
        }


    }
}