
@media  screen and (max-width:1400px){
    

.header {
    background-color: $Primary-color;
    height: 12vh;
    color: $Tertiary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

    position: sticky;
    top: 0;

    .logo {
        height: 54px;
        width: 54px;
        border-radius: 50%;
        background-image: url("../../public/Ellipse1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .salutation {
        font-size: 20px;
        font-weight: 500;
    }

    .notif {
        height: 54px;
        width: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;

    }

}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #0000003a;
    position: fixed;
    bottom: 0%;
    height: 10vh;
    width: 100%;
    padding: 2%;
    background-color: $Tertiary-color;




    a {
        all: unset;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .group-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10x;
        color: rgba(19, 11, 11, 0.658);

        .icon {
            font-size: 24px;
        }
    }
}}


@media screen and (min-width:768px) {

    
}