.home {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2%;
    padding-bottom: 100px;

}

section {
    margin: 10px 0;
}

.section-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

h2 {
    font-size: 16px;
    font-weight: 500;

}

p {
    font-size: small;
    font-weight: 400;
}



.ekz-classique {
    display: flex;
    flex-direction: column;

    .cards-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4% 2%;
        border: solid 1px rgba(0, 0, 0, 0.089);
        border-radius: 8px;
        overflow-y: scroll;
        gap: 2%;

        .card {
            display: flex;
            flex-direction: column;
            text-align: center;

            .raka-raka,
            .piyo,
            .mopao {
                height: 120px;
                width: 165px;
                background-image: url("../../public/Group5.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 12px;
            }

            .piyo {

                background-image: url("../../public/piyo.png");

            }

            .mopao {

                background-image: url("../../public/Mopao.png");

            }
        }
    }


}

.mayele-na-ekz {
    display: flex;
    flex-direction: column;

    .mayele-container {
        display: grid;
        grid-template-columns: 45% 55%;
        justify-content: space-between;
        align-items: center;
        padding: 4% 2%;
        border: solid 1px rgba(0, 0, 0, 0.089);
        border-radius: 8px;

        gap: 2%;




        .description {
            padding: 2px 0;

            p {
                margin: 3px 0;
            }

            button {
                display: flex;
                all: unset;
                border: solid 1px $Primary-color;
                padding: 1% 6%;
                border-radius: 8px;
                color: $Primary-color;
                font-size: 10px;
                align-self: flex-end;

            }
        }
    }
}